<article class="card my-2">
    {{!-- Card header with two evenly spaced spans --}}
    <header class="card-header d-flex justify-content-between px-2">
        {{!-- Post title --}}
        <span class="lead m-0">{{title}}</span>
        {{!-- updated or original post date --}}
        {{#if updated_date}}
        <span class="m-0 text-right">{{format_dateShort updated_date}}</span>
        {{else}}
        <span class="m-0 text-right">{{format_dateShort post_date}}</span>
        {{/if}}
    </header>
    {{!-- Card body with first sentence summary and links/event buttons --}}
    <main class="card-body">
        {{!-- First sentence of the post --}}
        <p>{{first_sentence content}}</p>
        {{!-- Link to view the post --}}
        <a href="/view-post/{{id}}" class="btn btn-primary">View</a>
        {{!-- Button to transfer post information to edit window --}}
        <button data-postid="{{id}}" class="btn btn-primary edit-post-button">Edit</button>
        {{!-- Button to delete a post --}}
        <button data-postid="{{id}}" class="btn btn-primary delete-post-button">Delete</button>
    </main>
</article>