<article class="card my-2 shadow">
    {{!-- Card header with two evenly spaced spans --}}
    <header class="card-header d-flex justify-content-between px-1 px-sm-2">
        {{!-- Post title --}}
        <span class="lead m-0">{{title}}</span>
        {{!-- Poster and updated or original post date --}}
        {{#if updated_date}}
        <span class="m-0 text-right">Updated by {{user.name}} on {{format_date post_date}}</span>
        {{else}}
        <span class="m-0 text-right">Posted by {{user.name}} on {{format_date post_date}}</span>
        {{/if}}
    </header>
    {{!-- Card body with post content and link to view post --}}
    <main class="card-body">
        {{!-- helper function returns first sentence of content --}}
        <p>{{first_sentence content}}</p>
        <a href="/view-post/{{id}}" class="btn btn-primary">View Post</a>
    </main>
</article>