<h1 class="text-center my-2">My Dashboard</h1>
<hr>
<div class="row p-2 dash-content">
    <div class="col-lg-6 col-12 bg-primary text-white rounded py-2 my-0 post-field">
        <h2 class="text-center" id="banner">Create a Post</h2>
        <form>
            <div>
                <label for="title" class="form-label lead">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Title">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label lead">Content</label>
                <textarea type="text" class="form-control" id="content" rows="12" placeholder="What's up?"></textarea>
            </div>
            <button type="submit" id="create-post-button" class="btn btn-secondary" data-userId="{{user_id}}">Post</button>
            <button type="submit" id="update-post-button" class="btn btn-secondary d-none">Update</button>
            <a href="/dashboard" id="cancel-update-button" class="btn btn-secondary d-none">Cancel</a>
        </form>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <h2 class="text-center">My Posts</h2>
        <div class="dash-posts rounded">
            {{#each userPosts as |post|}}
            <div class="card my-2">
                <div class="card-header d-flex justify-content-between px-2">
                    <span class="lead m-0">{{post.title}}</span>
                    {{#if post.updated_date}}
                    <span class="m-0 text-right">{{format_dateShort post.updated_date}}</span>
                    {{else}}
                    <span class="m-0 text-right">{{format_dateShort post.post_date}}</span>
                    {{/if}}
                    
                </div>
                <div class="card-body">
                    <p>{{first_sentence post.content}}</p>
                    <a href="/view-post/{{post.id}}" class="btn btn-primary">View</a>
                    <button data-postid="{{post.id}}" class="btn btn-primary edit-post-button">Edit</button>
                    <button data-postid="{{post.id}}" class="btn btn-primary delete-post-button">Delete</button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <h2 class="text-center">My Comments</h2>
        <div class="dash-comments rounded">
            {{#each userComments as |comment|}}
            <div class="card my-2">
                <div class="card-header d-flex justify-content-between px-2">
                    <span class="lead m-0">{{comment.post.title}}</span>
                    <span class="m-0 text-right">{{format_dateShort comment.comment_date}}</span>
                </div>
                <div class="card-body">
                    <p>{{first_sentence comment.content}}</p>
                    <a href="/view-post/{{comment.post.id}}" class="btn btn-primary">View</a>
                    <a href="#" class="btn btn-primary">Delete</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>


