<div class="row justify-content-center p-0">
  <div class="col-12 px-0 px-md-3">	
    <div class="card my-2">
        <div class="card-header">
            <h2 class="display-4 text-center m-0">{{post.title}}</h2>
        </div>
        <div class="card-body">
            <p class="lead">{{post.content}}</p>
        </div>
        <div class="card-footer d-flex justify-content-between align-content-middle">
            {{#if post.updated_date}}
             <span class="m-0 text-left">Updated by {{post.user.name}} on {{format_date post.updated_date}}</span>
            {{else}}
            <span class="m-0 text-left">Posted by {{post.user.name}} on {{format_date post.post_date}}</span>
            {{/if}}
            <button class="btn btn-primary" id="leave-comment">Leave Comment</button>
        </div>
    </div>
    <hr>
  </div>

  <div class="col-12 px-2 px-md-5">
    <div class="card my-2 d-none" id="new-comment">
        <textarea class="form-control" rows="5" placeholder="Leave a comment here" id="comment-content"></textarea>
        <div class="card-footer py-1">
            <button data-postid="{{post.id}}" class="btn btn-primary" id="create-comment">Submit</button>
            <a href="/view-post/{{post.id}}" class="btn btn-primary">Cancel</a>
        </div>
    </div>
    {{#each comments as |comment|}}
    {{> viewComment}}
    {{/each}}
  </div>
</div>



