<div class="row justify-content-center p-0">
  {{!-- Panel to show original post --}}
  <section class="col-12 px-0 px-md-3">	
    <article class="card my-2">
        {{!-- Card header for post title --}}
        <header class="card-header">
            <h2 class="display-4 text-center m-0">{{post.title}}</h2>
        </header>
        {{!-- Card body to contain post content --}}
        <main class="card-body">
            <p class="lead">{{post.content}}</p>
        </main>
        {{!-- Card footer containing evenly spaced spans for post details and comment buttons --}}
        <footer class="card-footer d-flex justify-content-between align-content-middle">
            {{!-- Display update or posted date --}}
            {{#if post.updated_date}}
             <span class="m-0 text-left">Updated by {{post.user.name}} on {{format_date post.updated_date}}</span>
            {{else}}
            <span class="m-0 text-left">Posted by {{post.user.name}} on {{format_date post.post_date}}</span>
            {{/if}}
            {{!-- Display button allowing the user to make a comment or a link to the login page --}}
            {{#if logged_in}}
            <button class="btn btn-primary" id="leave-comment">Leave Comment</button>
            {{else}}
            <a href="/login" class="btn btn-primary">Leave Comment</a>
            {{/if}}
        </footer>
    </article>
    <hr>
  </section>
  {{!-- Panel to create a new comment, hidden until button above is pressed --}}
  <section class="col-12 px-2 px-md-5">
    {{!-- If the user is logged in render the comment creation panel --}}
    {{#if logged_in}}
    <div class="card my-2 d-none" id="new-comment">
        {{!-- Comment content input --}}
        <textarea class="form-control" rows="5" placeholder="Leave a comment here" id="comment-content"></textarea>
        {{!-- Footer containing button to submit and link to refresh page on cancel--}}
        <div class="card-footer py-1">
            <button data-postid="{{post.id}}" class="btn btn-primary" id="create-comment">Submit</button>
            <a href="/view-post/{{post.id}}" class="btn btn-primary">Cancel</a>
        </div>
    </div>
    {{/if}}
    {{#each comments as |comment|}}
    {{> viewComment}}
    {{/each}}
  </section>
</div>



