<div class="row justify-content-center p-0">
  <div class="col-12">	
    <div class="card my-2">
        <div class="card-header">
            <h2 class="display-4 text-center m-0">{{post.title}}</h2>
        </div>
        <div class="card-body">
            <p class="lead">{{post.content}}</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            {{#if post.updated_date}}
             <span class="m-0 text-right">Posted by {{post.user.name}} on {{format_date post.updated_date}}</span>
            {{else}}
            <span class="m-0 text-right">Posted by {{post.user.name}} on {{format_date post.post_date}}</span>
            {{/if}}
            <span id="delete-post" class="d-none">x</span>
        </div>
    </div>
    <hr>
  </div>

  <div class="col-12 px-5">
    <h2>Comments</h2>
    {{#each comments as |comment|}}
    <div class="card my-2">
        <div class="card-body pb-0">
            <p>{{comment.content}}</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <span class="m-0 text-right">{{comment.user.name}} - {{format_date comment.comment_date}}</span>
            <span id="delete-comment" class="d-none">x</span>
        </div>
    </div>
    {{/each}}
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>